node_modules/
.next/
.DS_Store
.env*
out/
.vercel/
netlify/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/uploads/data/videos.json
public/uploads/videos/thumbnails/*
!public/uploads/videos/thumbnails/.gitkeep
